/*cuerpo de la página*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #000020;
}
/*encabezado*/
header {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.20);
    box-shadow: 1px 1px 30px 1px aqua;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 5%;
    height: auto;
    padding-left: 1%;
}
h1 {
    font-size: 250%;
    color: #009929;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 1px 1px 4px white;
}
.redes {
    width: 10%;
    height: 100%;
    margin-right: 0%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.red {
    width: 75%;
    height: 75%;
    filter: contrast(180%);
}
/*principal*/
main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*primera sección*/
section.izq {
    width: 60%;
    height: 65vh;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #f988ff;
    padding-top: 3%;
    text-align: center;
}
.area {
    width: 90%;
    height: 75%;
    background-color: #19191a;
    border-color: #19191a;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px grey;
    resize: none;
    font-size: 150%;
    color: #009929;
    text-align: center;
    padding: 3%;
    margin-bottom: 3%;
}
.encriptar {
    width: 20%;
    height: 10%;
    margin-right: 3%;
    border-radius: 20px;
    border-color: #1b004b;
    background: linear-gradient(180deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    box-shadow: 1px 1px 10px 1px #9934fc;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.encriptar:hover {
    background: linear-gradient(0deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    color: #009929;
}
.desencriptar {
    width: 20%;
    height: 10%;
    margin-right: 3%;
    border-radius: 20px;
    border-color: #1b004b;
    background: linear-gradient(180deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    box-shadow: 1px 1px 10px 1px #9934fc;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.desencriptar:hover {
    background: linear-gradient(0deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    color: #009929;
}
/*segunda sección (frente)*/
section.der {
    width: 30%;
    height: 65vh;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #f988ff;
    text-align: center;
    padding-top: 3%;
    line-height: 200%;
    overflow: hidden;
}
.munheca {
    width: 55%;
    height: 60%;
    margin-top: 5%;
    -webkit-transition: 1s linear 0s;
    transition: 1s linear 0s;
}
.munheca:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.subtitulo {
    font-size: 130%;
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 2px 2px 2px black;
}
.parrafo {
    font-size: 110%;
    color: grey;
    margin-bottom: 100%;
}
.ocultar {
    display: none;
}
/*segunda sección (atrás)*/
.mensaje {
    width: 80%;
    height: 75%;
    background-color: #19191a;
    border-color: #19191a;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px grey;
    resize: none;
    font-size: 150%;
    color: #009929;
    text-align: center;
    padding: 3%;
    margin-bottom: 4%;
}
.copiar {
    width: 35%;
    height: 10%;
    margin-right: 3%;
    border-radius: 20px;
    border-color: #1b004b;
    background: linear-gradient(180deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    box-shadow: 1px 1px 10px 1px #9934fc;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.copiar:hover {
    background: linear-gradient(0deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    color: #009929;
}
.escuchar {
    width: 35%;
    height: 10%;
    border-radius: 20px;
    border-color: #1b004b;
    background: linear-gradient(180deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    box-shadow: 1px 1px 10px 1px #9934fc;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.escuchar:hover {
    background: linear-gradient(0deg, rgba(34,157,218,1) 0%, rgba(117,83,243,1) 50%, rgba(153,52,252,1) 100%);
    color: #009929;
}
/*pie de página*/
footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.20);
    box-shadow: 1px 1px 30px 1px aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 100%;
    color: #009929;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 1px 1px 2px white;
    letter-spacing: 2px;
    overflow: hidden;
}
footer p span {
    color: white;
    text-shadow: 1px 1px 2px black;
}
/*media query*/
/*tablet*/
@media screen and (max-width: 768px) and (max-height: 1174px) {
  header {
    margin-bottom: 5%;
  }
  .logo {
    width: 10%;
    height: auto;
  }
  h1 {
    font-size: 250%;
  }
  .redes {
    width: 15%;
  }
  .red {
    width: 90%;
  }
  main {
    display: block;
  }
  section.izq {
    width: 90%;
    height: 35vh;
    padding-top: 4%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .area {
    font-size: 150%;
    padding: 3%;
    margin-bottom: 3%;
  }
  .encriptar {
    width: 30%;
    height: 12%;
    margin-right: 3%;
  }
  .desencriptar {
    width: 30%;
    height: 12%;
  }
  section.der {
    width: 90%;
    height: 35vh;
    padding-top: 4%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .munheca {
    width: 40%;
    margin-top: 4%;
  }
  .subtitulo {
    font-size: 130%;
  }
  .parrafo {
    font-size: 110%;
  }
  .mensaje {
    width: 90%;
    font-size: 150%;
    padding: 3%;
    margin-bottom: 2%;
  }
  .copiar {
    width: 30%;
    height: 12%;
    margin-right: 3%;
  }
  .escuchar {
    width: 30%;
    height: 12%;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  footer p {
    font-size: 100%;
  }
}
/*móvil*/
@media screen and (max-width: 375px) and (max-height: 933px) {
  header {
    margin-bottom: 8%;
  }
  .logo {
    width: 10%;
    height: auto;
  }
  h1 {
    font-size: 180%;
  }
  .redes {
    width: 15%;
  }
  .red {
    width: 90%;
  }
  main {
    display: block;
  }
  section.izq {
    width: 90%;
    height: 35vh;
    padding-top: 4%;
    margin-bottom: 8%;
  }
  .area {
    font-size: 150%;
    padding: 3%;
    margin-bottom: 5%;
  }
  .encriptar {
    width: 35%;
    height: 12%;
    margin-right: 3%;
    font-size: 60%; 
  }
  .desencriptar {
    width: 35%;
    height: 12%;
    font-size: 60%;
  }
  section.der {
    width: 90%;
    height: 35vh;
    padding-top: 4%;
    margin-bottom: 8%;
  }
  .munheca {
    width: 55%;
    margin-top: 5%;
  }
  .subtitulo {
    font-size: 100%;
  }
  .parrafo {
    font-size: 80%;
  }
  .mensaje {
    width: 90%;
    font-size: 150%;
    padding: 3%;
    margin-bottom: 4%;
  }
  .copiar {
    width: 35%;
    height: 12%;
    margin-right: 3%;
    font-size: 60%;
  }
  .escuchar {
    width: 35%;
    height: 12%;
    font-size: 60%;
  }
  footer p {
    font-size: 80%;
  }
}